html, body {
	margin : 0;
	padding: 0;
	background-color: tan;
}

.container {
	margin: 4px auto;
	width: 576px;
	border: 12px solid maroon;
}

.clock {
	background-color: maroon;
	position: relative;
	height: 576px;
}

.clock-ele {
	position: absolute;
}

.display {
	width: 576px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	background-color: darkgrey;
}

.clock-ele img {
	width: 100%;
}

.credit {
	font-size: 1.5em;
	width: auto;
	margin: 12px 288px;
	border: 3px solid #444;
	text-align: center;
	background-color: #aaa;
}
