html, body {
	margin : 0;
	padding: 0;
	background-color: tan;
 	overflow: hidden;
}

.container {
	margin: 4px auto;
	width: 576px;
	border: 12px solid maroon;
}

.clock {
	background-color: maroon;
	position: relative;
	height: 576px;
}

.clock-ele {
	position: absolute;
}

.display {
	width: 576px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	background-color: darkgrey;
}
.clock-ele img {
	width: 100%;
}
